@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Walker Profile</h1>

<div>

    <hr />
    <dl class="row">

        <section class="container">
            <img style="width:100px;float:left;margin-right:20px"
                 src="@Model.Walker.ImageUrl" alt="avatar" />
            <div>
                <label class="font-weight-bold">Name:</label>
                <span>@Model.Walker.Name</span>
            </div>
            <div>
                <label class="font-weight-bold">Neighborhood:</label>
                <span>@Model.Walker.NeighborhoodId</span>
            </div>
        </section>

        <hr class="mt-5" />
        <div class="clearfix"></div>

    </dl>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h2 class="text-left">Recent Walks</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                           <small>Date</small>
                        </th>
                        <th>
                            <small>Client</small>

                        </th>
                        <th>
                            <small>Duration</small>

                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>              
                    @foreach (var item in Model.Walks)
                    {
                        <tr>
                            <td>
                                @{  string dateString = item.Date.ToString("d"); }
                                @Html.DisplayFor(modelItem => dateString)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.Name)
                            </td>
                            <td>
                                @{  int durationTime = item.Duration / 60; }
                                @Html.DisplayFor(modelItem => durationTime) mins
                            </td>

                        </tr>

                    }
                </tbody>
            </table>
        </section>
        <tbody>

            <section class="col-lg-4 col-md-8 container mt-5 .bg secondary">
                @{  int walkHours = Model.Walks.Sum(walk => walk.Duration) / 3600; }
                @{  int walkMinutes = Model.Walks.Sum(walk => walk.Duration) % 3600 / 60; }
                <h2>Total Walk Time:</h2>
            <h2><span class="text-dark"> @(walkHours)hr @(walkMinutes)min</span></h2>

            </section>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
